/* Tambahan CSS */
.captcha-login {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 26px !important;
  color: #686868 !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.title-topbar-public {
  display: block;
  width: 80%;
  text-align: center;
  font-size: 18px;
}

.radius-left-login {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}

.radius-right-login {
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.btn-xs{
  padding: 0.385rem 0.75rem !important;
}

.btn-table {
  /*padding: 2px;*/
  padding: 3px;
  font-size: 12px;
}

.btn-form-control {
  /*padding: 2px;*/
  padding: 5px;
  font-size: 12px;
}

.filter-data {
  margin-bottom: 25px;
  margin-top: -1px;
}

.filter-data-chosen-select {
  margin-bottom: 19px !important;
}

.breadcrumb-nav {
  margin-left: -18px;
}

.breadcrumb-col {
  margin-top: -28px;
  margin-bottom: -16px;
}

.was-validated .custom-select:invalid + .select2 .select2-selection {
  border-color: #dc3545 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.6875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.was-validated .custom-select:valid + .select2 .select2-selection {
  border-color: #28a745 !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.6875rem);
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.alert-col {
  margin-top: -10px;
  margin-bottom: 20px;
}

.text-short {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label-alert {
  display: block;
  width: 100%;
  font-size: 85%;
  color: #dc3545;
}

.img-prev {
  width: 68%;
}

.form-check-td {
  margin-left: 6px !important;
}

.form-check-th {
  margin-left: 6px !important;
  margin-top: -2px;
  margin-bottom: -5px;
}

.border-none {
  border-radius: 0px;
}

.border-1 {
  border-width: 1px !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-3 {
  border-width: 3px !important;
}

.border-4 {
  border-width: 4px !important;
}

.border-5 {
  border-width: 5px !important;
}

.form-check-table-form {
  margin-left: -5px;
  padding-right: 6px;
}

.set-icon {
  cursor: pointer;
}

.set-icon:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

.active-menu {
  font-weight: bold !important;
  color: var(--primary-color) !important;
}

.bg-pb {
  /*background: url(../images/bg/bg-1.jpg) no-repeat center center fixed; */
  /*background-position: 0px 0px;*/
  /*-webkit-background-size: cover;*/
  /*-moz-background-size: cover;*/
  /*-o-background-size: cover;*/
  /*background-size: cover;*/
}

.bg-fixed-on-scroll {
  background-position: 0px 33px !important;
}

.logo-pb {
  max-width: 100% !important;
  height: 55px !important;
}

.card-shadow {
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.14),
    0 2px 7px 1px rgba(0, 0, 0, 0.12), 0 2px 2px -2px rgba(0, 0, 0, 0.2) !important;
}

.no-border {
  border: 0px !important;
}

.icon-bg {
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 30px;
  opacity: 0.25;
}

.icon-bg i {
  font-size: 3em;
}

.top-border-top-left::before {
  background: none;
  margin-top: -25px;
  border-left: 3px solid #bf0439;
  border-bottom: 2px solid #bf0439;
  content: "";
  height: 190%;
  left: -35px;
  position: absolute;
  top: 0;
  transform: skewX(45deg);
  width: 80px;
  z-index: 1;
  background: #c30f42;
}

.top-border-top-left {
  padding: 10px 0;
  position: relative;
  -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.6));
}

.top-border-top-left:after {
  content: "";
  margin-top: -24px;
  border-bottom: 2px solid #bf0439;
  height: 190%;
  position: absolute;
  left: 0;
  top: 0;
  width: 125%;
  z-index: 1;
  background: none;
  background: #c30f42;
}

.top-border-top-right::before {
  background: none;
  margin-top: -25px;
  border-right: 3px solid #bf0439;
  border-bottom: 2px solid #bf0439;
  content: "";
  height: 190%;
  right: -35px;
  position: absolute;
  top: 0;
  transform: skewX(135deg);
  width: 80px;
  z-index: 1;
  background: #c30f42;
}

.top-border-top-right {
  padding: 10px 0;
  position: relative;
  -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.6));
}

.top-border-top-right:after {
  content: "";
  margin-top: -24px;
  margin-left: -45px;
  border-bottom: 2px solid #bf0439;
  height: 190%;
  position: absolute;
  left: 0;
  top: 0;
  width: 125%;
  z-index: 1;
  background: none;
  background: #c30f42;
}

.top-border-top-left-long::before {
  background: none;
  margin-top: -25px;
  border-left: 3px solid #bf0439;
  border-bottom: 2px solid #bf0439;
  content: "";
  height: 150%;
  left: -35px;
  position: absolute;
  top: 0;
  transform: skewX(45deg);
  width: 600px;
  z-index: 0;
  background: #c30f42;
}

.top-border-top-left-long {
  padding: 10px 0;
  position: relative;
  -webkit-filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(1px 1px 6px rgba(0, 0, 0, 0.6));
}

.top-border-top-left-long:after {
  background: none;
  margin-top: -25px;
  border-left: 3px solid #bf0439;
  border-bottom: 2px solid #bf0439;
  content: "";
  height: 150%;
  left: 540px;
  position: absolute;
  top: 0;
  transform: skewX(135deg);
  width: 600px;
  z-index: 0;
  background: #c30f42;
}

.text-top-left {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  margin-top: -20px;
}

.text-top-right {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  z-index: 2;
  margin-top: -20px;
}

.text-top-left-long {
  position: absolute;
  margin-top: -28px;
  margin-left: 40px;
  width: 200px;
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
}

.text-top-left-long i {
  font-size: 20px;
  margin-top: -6px;
  margin-right: 3px;
  color: #ffd165;
}

.text-top-right-long {
  position: absolute;
  margin-top: -28px;
  margin-left: 880px;
  width: 200px;
  font-size: 12px;
  color: #fff;
  margin-right: 10px;
  z-index: 1;
}

.text-top-right-long i {
  font-size: 20px;
  margin-top: -6px;
  margin-right: 3px;
  color: #ffd165;
}

.img-header {
  width: 65px;
  margin-top: 20px;
  border-color: #007bff transparent transparent transparent;
  -webkit-filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.6));
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.6));
  z-index: 100;
}

.icon-header-left {
  position: absolute;
  margin-top: 31px;
  margin-left: -50px;
}

.icon-header-left ul {
  list-style-type: none;
  font-size: 17px;
}

.icon-header-left ul li {
  margin-right: 10px;
}

.icon-header-right {
  position: absolute;
  margin-top: 31px;
  margin-left: 78px;
}

.icon-header-right ul {
  list-style-type: none;
  font-size: 17px;
}

.icon-header-right ul li {
  margin-right: 10px;
}

.ribbon {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
  text-align: right;
  animation: pulse 1s infinite;
}
.ribbon span {
  font-size: 9px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 16px;
  padding-top: 1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 3px;
  left: -38px;
}
.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79a70a;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}

.table-realtime > thead > tr > th {
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 13px;
}

.table-realtime > thead > tr > th > i {
  font-size: 15px;
}

.height-realtime {
  height: 400px !important;
}

.badge-realtime {
  font-size: 17px;
  padding: 7px 12px;
}

.title-realtime-box {
  font-size: 13px;
  padding-top: 2px;
}

.card-body-realtime {
  padding: 7px 7px !important;
}

.text-realtime-box {
  font-size: 17px;
}

.icon-realtime-box {
  margin-top: -7px !important;
}

.icon-realtime-box i {
  font-size: 50px !important;
}

.small-text {
  font-size: 11px !important;
}

.normal-text {
  font-size: 12px !important;
}

.big-text {
  font-size: 14px !important;
}

.card-menu-icon {
  cursor: pointer;
  min-height: 110px;
  transition: all 0.3s ease-in-out;
}

.card-menu-icon:hover {
  transform: scale(1.1);
}

.card-menu-icon-dashboard {
  cursor: pointer;
  min-height: 110px;
  transition: all 0.3s ease-in-out;
}

.card-menu-icon-dashboard:hover {
  transform: scale(1.1);
}

.img-menu-icon {
  width: 50px;
  margin-top: 3px;
}

.title-menu-icon {
  font-size: 12px;
  padding-top: 11px;
  line-height: 130%;
}

.full-page {
  margin-left: -30px !important;
  margin-right: -30px !important;
}

.table-fixed tbody {
  display: block;
  height: 45vh;
  overflow: auto;
  width: 100%;
}
.table-fixed thead,
.table-fixed tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
/*.table-fixed thead {
  width: calc( 100% - 17px );
}*/

.table-fixed thead th {
  border-bottom: 2px solid #ddd !important;
}

.table-fixed td {
  border-bottom: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border-top: 0px !important;
}

.select-pagination {
  height: 22px;
  padding: 1px 1px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.label-check {
  cursor: pointer;
  text-align: left !important;
  padding-left: 10px;
}

.label-radio {
  cursor: pointer;
  text-align: left !important;
  padding-left: 11px;
}

.title-form-modal {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  font-size: 14px;
}

.col-footer {
  display: flex;
  flex-wrap: wrap;
}

.img-title-page {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: -5px;
  margin-left: 1rem !important;
  float: left !important;
}

.title-page {
  float: right !important;
}

.showing-data {
  margin-left: -15px;
  float: left;
  margin-bottom: -8px !important;
}

.col-pagination {
  margin-top: 0.5rem !important;
}

.btn-form {
  margin-top: -4px;
}

.btn-form-action {
  position: fixed;
  z-index: 10;
  bottom: 1.0625rem;
  width: 100%;
  background: #fff;
  padding: 4px 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: 0px -5px 16px -12px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px -5px 16px -12px rgba(0, 0, 0, 1);
  box-shadow: 0px -5px 16px -12px rgba(0, 0, 0, 1);
}

.btn-form-action-bottom {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2px;
}

.btn-form-clear {
  text-align: right !important;
  padding-right: 0 !important;
}

.btn-form-save {
  text-align: right !important;
  padding-left: 0 !important;
}

.col-title-dashboard {
  margin-top: -30px;
  margin-bottom: 3px;
}

.navbar-menu-left {
  margin-left: -15px;
}

.col-alert {
  margin-top: 23px;
  margin-bottom: -15px;
}

.col-alert i {
  margin-right: 10px !important;
}

.col-menu-icon-dashboard {
  flex: 0 0 10% !important;
  max-width: 10% !important;
  padding-right: 7px !important;
  padding-left: 7px !important;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}

.img-menu-icon-dashboard {
  width: 50px !important;
}

.title-menu-icon-dashboard {
  font-size: 11px !important;
}

.running-text {
  padding: 5px 1px;
  font-weight: 500;
}

.lazy-load {
  /*display: block;*/
}

.lazy-load img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  .lazy-load img:-moz-loading {
    visibility: hidden;
  }
}

.form-invalid {
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: center right calc(0.375em + 0.1875rem) !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.form-valid {
  border-color: #28a745 !important;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") !important;
  background-repeat: no-repeat !important;
  background-position: center right calc(0.375em + 0.1875rem) !important;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}

.border-title {
  border-bottom: 1px solid #eee;
}

.line-title {
  display: block;
  height: 2px;
  background: var(--primary-color);
  margin-top: 4px;
  width: 80px;
  border-radius: 5px;
}

.col-breadcrumb {
  /*margin-top: 6px;*/
  margin-top: -1px;
  margin-bottom: -1px;
}

.table-highlight tbody tr {
  cursor: pointer !important;
}

.highlight-active {
  background-color: var(--primary-bg-hover-color) !important;
  color: #fff !important;
}

.pagination-info {
  font-size: 12px;
}

/* Table Fixed */
.table.table-head-fixed thead tr:nth-child(1) th {
  background-color: #ffffff;
  border-bottom: 0;
  box-shadow: inset 0 1px 0 #dee2e6, inset 0 -1px 0 #dee2e6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.swal-wide {
  width: 300px !important;
}

.swal2-title {
  font-size: 18px !important;
}

.swal2-content {
  font-size: 12px !important;
}

.w-20px {
  width: 20px !important;
}

.select2-selection__rendered {
  padding-left: 0px !important;
  line-height: 18px !important;
}
.select2-container .select2-selection--single {
  height: 27px !important;
}
.select2-selection__arrow {
  height: 18px !important;
}

.modal form .select2-selection__rendered {
  padding-left: 0px !important;
  line-height: 18px !important;
}
.modal form .select2-container .select2-selection--single {
  height: 25px !important;
}
.modal form .select2-selection__arrow {
  height: 18px !important;
}

.table .select2-container {
  margin-bottom: 0px !important;
}

.table .select2-selection__rendered {
  padding-left: 0px !important;
  line-height: 16px !important;
}
.table .select2-container .select2-selection--single {
  height: 24px !important;
}
.table .select2-selection__arrow {
  height: 16px !important;
}

.font-loading-input {
  position: absolute;
  margin-top: -20px;
  margin-left: 200px;
}

.text-center-group {
  padding-right: 1px !important;
  padding-left: 1px !important;
  padding-top: 3px !important;
  flex: 0 0 7% !important;
  max-width: 7% !important;
}

/* nav-pillride */
.nav-pills {
  border-bottom: 0px !important;
  padding-bottom: 0.625rem;
}

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.no-border {
  border: none !important;
}

.badge-xs {
  font-size: 12px !important;
  padding: 3px !important;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Badge */
.badge-xs {
  padding: 0.3em 0.4em !important;
}

.dropdown-item i {
  position: relative;
  width: 18px;
}

.card-title {
  color: var(--primary-color);
  margin-bottom: 1.5rem;
  text-transform: capitalize;
  /* font-size: 1.125rem; */
  font-size: 15px;
}

.border-dotted {
  border-bottom: 1px dotted #dbe3e6;
}

.text-middle {
  vertical-align: middle !important;
}

.text-top {
  vertical-align: top !important;
}

.text-bottom {
  vertical-align: bottom !important;
}

/*jqueryui*/

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.ui-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;
  outline: 0;
}
.ui-menu .ui-menu {
  position: absolute;
}
.ui-menu .ui-menu-item {
  margin: 0;
  cursor: pointer;
  /* support: IE10, see #8844 */
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px 0.4em;
}
.ui-menu .ui-menu-divider {
  margin: 5px 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  margin: -1px;
  background: var(--primary-color);
  color: #ffffff !important;
}

.ui-widget {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.ui-widget .ui-widget {
  font-size: 1em;
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-size: 1em;
}
.ui-widget.ui-widget-content {
  border: 1px solid #c5c5c5;
}
.ui-widget-content {
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}
.ui-widget-content a {
  color: #333333;
}
.ui-widget-header {
  border: 1px solid #dddddd;
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
}
.ui-widget-header a {
  color: #333333;
}
.ui-menu .ui-menu-item-wrapper {
  position: relative;
  padding: 3px 1em 3px 0.4em;
}

.col-title {
  margin-bottom: -2px !important;
}

.col-back {
  display: block;
}

.btn-back {
  padding: 5px 6px;
  font-size: 11px;
  margin-right: 7px;
}

.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #eee;
  border-left-width: 0.25rem;
  border-radius: 0.25rem;
}

.bd-callout h4 {
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
  margin-bottom: 0;
}

.bd-callout code {
  border-radius: 0.25rem;
}

.bd-callout + .bd-callout {
  margin-top: -0.25rem;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}

.bd-callout-info h4 {
  color: #5bc0de;
}

.bd-callout-warning {
  border-left-color: #f0ad4e;
}

.bd-callout-warning h4 {
  color: #f0ad4e;
}

.bd-callout-danger {
  border-left-color: #d9534f;
}

.bd-callout-danger h4 {
  color: #d9534f;
}

.images-normal {
  /* width: 767px; */
  width: 100%;
  height: 120px;
  overflow: hidden;
  margin: 0;
}

.images-normal img {
  display: block;
  /* width: 767px; */
  width: 100%;
  height: auto;
}

.card-disabled {
  position: relative; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  padding: 3px 7px; 
  font-weight: 400; 
  font-size: 12px; 
  height: 12vh; 
  background-color: #e9ecef; 
  opacity: 1;
}

.form-control-lg {
  height: calc(1.5em + 1rem + 2px)!important;
  line-height: 1.5;
}

.blur-bg:before {
  content: '';
  background-color: #000;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}