@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Black.eot");
  src: url("../fonts/Poppins-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Black.woff2") format("woff2"), url("../fonts/RPoppins-Black.woff") format("woff"), url("../fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/*body {
  background-image: url("https://arcmaxarchitect.com/sites/default/files/styles/slideshow/public/slide/best_architects_for_sustainable_hospital_design_in_india_united_states_and_united_kingdom.jpg?itok=0VuM2uT6") !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important; 
  background-position: 12% 12% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  font-family: "Poppins", sans-serif !important;
}*/

body {
  width: 100% !important;
  height: 100% !important;
  font-family: "Poppins", sans-serif !important;
}

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

@media screen and (max-width: 1024px){
	img.bg {
		left: 50%;
		margin-left: -512px; }
}

.form-group {
  margin-bottom: 1rem !important;
}

.input-group {
  position: relative !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  width: 100% !important;
}

.input-group-prepend {
  margin-right: -1px !important;
}
.input-group-append, .input-group-prepend {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.input-group>.custom-select:not(:first-child), .input-group>.form-control-login:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.right .content-right input {
  border: none !important;
  background: #f5f5f5 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-right: 1px solid #ced4da !important;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control-login {
  position: relative !important;
  -webkit-box-flex: 1 !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  width: 1% !important;
  margin-bottom: 0 !important;
}

.input-group-text {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  padding: .375rem .75rem !important;
  margin-bottom: 0 !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #33b1a2 !important;
  text-align: center !important;
  white-space: nowrap !important;
  background-color: #fff !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-left: 1px solid #ced4da !important;
  border-right: 0 !important;
  border-radius: .25rem !important;
  width: 35px !important;
}

.form-control-login {
	outline: 0;
  display: block !important;
  width: 100% !important;
  padding: .375rem .75rem !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border-top: 1px solid #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
  border-left: 0 !important;
  border-right: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.form-control-login::placeholder {
  color: #bababc;
  opacity: 0.9;
}

.btn-submit {
	padding: 8px 24px !important;
}

.logo-login {
	position: fixed;
	margin-top: 15px;
}

.img-logo-login {
	width: 60px; 
	float: left;
}

.title-logo-login {
	float: left; 
	margin-top: 5px; 
	margin-left: 8px;
}

.col-login {
	padding-top: 25px; 
	padding-bottom: 25px; 
	padding-left: 20px; 
	padding-right: 15px;
}

.col-icon-login {
	margin-top: 40px;
}

.icon-login {
	float: left; 
	width: 90px; 
	margin-right: 16px;
}

.img-icon-login {
	width: 52px;
}

.text-icon-login {
	font-size: 12px; 
	margin-top: 10px;
}

.desc-login {
	float: left; 
	margin-top: 30px;
}

.desc-login-text {
	font-size: 13px;
}

.col-login-right {
	border-left: 1px solid #dedede; 
	margin-top: -10px; 
	margin-bottom: -10px; 
	padding-top: 10px; 
	padding-left: 24px;
}

.col-login-left {
	display: block;
}

.img-logo-form {
	width: 100px;
}

.text-logo-form {
	margin-top: 5px; 
	margin-bottom: 9px;
}

.col-footer {
	position: fixed; 
	width: 100%;
}

.text-footer {
	margin-top: -27px; 
	background: #33b1a2; 
	color: #fff; 
	font-size: 12px; 
	padding-top: 5px; 
	padding-bottom: 4px;
}

.link-icon {
  color: #686868 !important;
  text-decoration: none !important;
  background-color: transparent !important;
}

/**** Responsive Start ****/

@media only screen and (max-width:800px) {
  /* For tablets: */
  
  
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */

  .col-login-right {
  	border-left: 0px;
	}

	.col-login-left {
		display: none;
	}

	.logo-login {
		position: relative;
		text-align: center !important; 
	}

	.img-logo-login {
		position: relative;
		float: none;
		text-align: center !important; 	
	}

	.title-logo-login {
		float: none;
		text-align: center;
	}

	.col-footer {
		position: absolute;
		bottom: 0px;
	}

	.content-wrapper {
		height: 100% !important;
	}

	.content-wrapper {
		min-height: 0 !important;
	}

}