/**** Responsive Start ****/

@media only screen and (max-width:800px) {
  /* For tablets: */
  .navbar-menu-left {
    display: none!important;
  }

  .navbar-menu-center {
    text-align: left!important;
    justify-content: left !important;
  }

  .horizontal-menu .top-navbar {
    height: 57px;
  }

  .col-menu-icon {
    flex: 0 0 16.66666666666667%;
    max-width: 16.66666666666667%;
  }

  .d-tablet-none {
    display: none !important;
  }

  .btn-index-table {
    margin-top: -2px;
    margin-bottom: 7px;
    text-align: center !important;
  }

  .table-fixed thead {
    width: 1300px !important;
  }
  
  
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .navbar-menu-left {
    display: none!important;
  }

  .navbar-menu-center {
    width: 100%!important;
    margin-top: -3px;
    margin-bottom: -41px!important;
    text-align: center!important;
  }

  .button-user {
    max-width: 200px!important;
    position: absolute!important;
    left: 50%!important;
    top: 70%!important;
    transform: translate(-50%, -50%)!important;
  }

  .horizontal-menu .top-navbar {
    height: 87px;
  }

  .col-menu-icon {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .d-xs-none {
    display: none !important;
  }

  .text-xs-left {
    text-align: left !important;
  }
  .text-xs-right {
    text-align: right !important;
  }
  .text-xs-center {
    text-align: center !important;
  }

  .form-group label {
    text-align: left !important;
  }

  .col-form-label {
    padding-top: calc(12px + 1px) !important;
    padding-bottom: calc(6px + 1px) !important;
  }

  .card .card-title {
    margin-bottom: 3px !important;
    margin-top: 20px !important;
  }

  .card .card-body {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
  }

  .img-title-page {
    display: none !important;
  }

  .title-page {
    float: none !important;
    text-align: center !important;
    margin-bottom: -4px; 
    width: 100% !important;
  }

  .filter-data {
    text-align: center !important;
    margin-bottom: 25px;
    margin-top: 5px;
  }

  .btn-index-table {
    margin-bottom: 7px;
  }

  .table-fixed thead {
    width: 1300px !important;
  }

  .showing-data {
    float: none;
    margin-left: 0;
    text-align: center;
    margin-bottom: -4px !important;
  }

  .pagination {
    justify-content: center !important;
    padding-bottom: 14px !important;
  }

  .col-pagination {
    margin-top: 5px !important;
  }

  .btn-form {
    margin-top: -5px;
  }

  .btn-form-clear {
    text-align: center !important;
    padding-right: 0 !important;
  }

  .btn-form-save {
    text-align: center !important;
    padding-left: 0 !important;
  }

  .d-phone-none {
    display: none !important;
  }

  .main-panel {
    padding-top: 70px !important;
  }

  .col-menu-icon-dashboard {
    flex: 0 0 50% !important; 
    max-width: 50% !important; 
    padding-right: 10px !important; 
    padding-left: 10px !important; 
    padding-top: 2px !important; 
    padding-bottom: 15px !important;
  }

  .card-menu-icon-dashboard {
    min-height: 130px !important;
  }

  .col-breadcrumb {
    display: none !important;
  }

  .col-back {
    display: none;
  }

}