:root {
  /* secondary */
  --secondary-color: #a3a4a5;
  --secondary-bg-hover-color: #909192;
  --secondary-border-hover-color: #898b8c;

  /* success */
  --success-color: #0acf97;
  --success-bg-hover-color: #08ab7c;
  --success-border-hover-color: #089e74;

  /* danger */
  --danger-color: #F65A5B;
  --danger-bg-hover-color: #DD4142;
  --danger-border-hover-color: #D73B3C;

  /* warning */
  --warning-color: #ff8300;
  --warning-bg-hover-color: #d96f00;
  --warning-border-hover-color: #cc6900;

  /* info */
  --info-color: #5c3bc4;
  --info-bg-hover-color: #4e32a7;
  --info-border-hover-color: #4a2f9d;

	/* light */
  --light-color: #6c7293;
  --light-bg-hover-color: #5c617d;
  --light-border-hover-color: #565b76;

  /* dark */
  --dark-color: #000000;
  --dark-bg-hover-color: #000000;
  --dark-border-hover-color: #000000;
}